<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Frituur Frida</display-name>
  <welcome-file-list>
    <welcome-file>welkom.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/JSP/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>be.vdab.dao.DAOException</exception-type>
    <location>/daoexception.htm</location> <!-- URL naar DAOExceptionServlet -->
  </error-page>
  <context-param>
    <param-name>straat</param-name>
    <param-value>Aardappelweg</param-value>
  </context-param>
  <context-param>
    <param-name>huisnr</param-name>
    <param-value>12</param-value>
  </context-param>
  <context-param>
    <param-name>gemeente</param-name>
    <param-value>Olen</param-value>
  </context-param>
  <context-param>
    <param-name>postcode</param-name>
    <param-value>1010</param-value>
  </context-param>
  <filter>
    <filter-name>ServletFilter</filter-name>
    <filter-class>be.vdab.filters.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServletFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <servlet>
   <servlet-name>WelkomServlet</servlet-name>
   <servlet-class>be.vdab.servlets.WelkomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>WelkomServlet</servlet-name>
  <url-pattern>/welkom.htm</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>StatistiekServlet</servlet-name>
   <servlet-class>be.vdab.servlets.StatistiekServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>StatistiekServlet</servlet-name>
  <url-pattern>/statistieken.htm</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>SauzenZoekenServlet</servlet-name>
   <servlet-class>be.vdab.servlets.SauzenZoekenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SauzenZoekenServlet</servlet-name>
  <url-pattern>/sauzenzoeken.htm</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>SauzenServlet</servlet-name>
   <servlet-class>be.vdab.servlets.SauzenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SauzenServlet</servlet-name>
  <url-pattern>/sauzen.htm</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>SauzenRadenServlet</servlet-name>
   <servlet-class>be.vdab.servlets.SauzenRadenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SauzenRadenServlet</servlet-name>
  <url-pattern>/sauzenraden.htm</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>MeisjesJongensServlet</servlet-name>
   <servlet-class>be.vdab.servlets.MeisjesJongensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MeisjesJongensServlet</servlet-name>
  <url-pattern>/meisjesjongens.htm</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>DAOExceptionServlet</servlet-name>
   <servlet-class>be.vdab.servlets.DAOExceptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DAOExceptionServlet</servlet-name>
  <url-pattern>/daoexception.htm</url-pattern>
  </servlet-mapping>
</web-app>